*{margin:0px;
  padding:0px;
  font-family: sans-serif;}
#wrapper {display: overflow;
          width: 1000px;
          }
.toptabs {display: inline-block;
          height: 22px;
          padding-left: 10px;
          padding-right: 10px;
          width: auto;
          font-size: 75%;
          background-color: #F4F4F4;
          }
.toptabs a{color:gray;
           text-decoration: none;
         }
.B a{color:white;
           text-decoration: none;
         }
.L {border-left-style: solid;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-color: lightgray;
    margin-left: 525px;
    border-bottom-left-radius: 5px;}
.M {border-bottom-style: solid;
    border-width: 1px;
    border-color: lightgray;
    }
.R {border-bottom-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-bottom-right-radius: 5px;}
.B {display: inline-block;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    font-size: 80%;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    background-color: blue;
    margin-left: 20px;
    height: 18px;
    color: white;
    border-radius: 5px;
    }
.logo {padding: 20px;
      display: block;
      }
#bluebanner {background: linear-gradient(#0777ae, #007dbd, #0075c3);
             /*background-image: url("bluebannergradient.png");*/
             /*background-repeat: repeat-x;*/
             height: 50px;
             display: inline-block;
            }
#bluebanner p {color: white;
              font-size: 150%;
              font-style: normal;
              padding-top: 10px;
              padding-left: 10px;
              width: 780px;
              display: inline-block;
              vertical-align: top;
              }
#sidebar {display: inline-block;
          width: 250px;
          height:500px;
          background-color: blue;
         }
#main {display: inline-block;
       width: 730px;
       background-color: red;
       border-top-style: solid;
       border-top-width: medium;
       border-top-color: gray;
       }
