*{margin:0px;
  padding:0px;
  font-family: sans-serif;}
#wrapper {display: overflow;
          width: 1000px;
          }
.toptabs {display: inline-block;
          height: 22px;
          padding-left: 10px;
          padding-right: 10px;
          width: auto;
          font-size: 75%;
          background-color: #F4F4F4;
          }
.toptabs a{color:gray;
           text-decoration: none;
         }
.B a{color:white;
           text-decoration: none;
         }
.L {border-left-style: solid;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-color: lightgray;
    margin-left: 525px;
    border-bottom-left-radius: 5px;}
.M {border-bottom-style: solid;
    border-width: 1px;
    border-color: lightgray;
    }
.R {border-bottom-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-bottom-right-radius: 5px;}
.B {display: inline-block;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    font-size: 80%;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    background-color: blue;
    margin-left: 20px;
    height: 18px;
    color: white;
    border-radius: 5px;
    }
.logo {padding: 20px;
      display: block;
      }
#bluebanner {background-image: url("bluebannergradient.png");
             background-repeat: repeat-x;
             height: 165px;
             display: inline-block;
            }
#bluebanner p {color: white;
              font-size: 150%;
              font-style: normal;
              padding-top: 10px;
              padding-left: 10px;
              width: 780px;
              display: inline-block;
              vertical-align: top;
              }
#sidebar {display: inline-block;
          width: 200px;
          background-color: white;
          margin-left: 10px;
          margin-right: 10px;
         }
.ad      {display: block;
          text-align:center;
          width: 200px;
          border-bottom-width: thin;
          border-bottom-style: solid;
          border-bottom-color: gray;
          }
#sidebar h3 {color: darkblue;
            font-weight: normal;
            text-align: left;
            padding-bottom: 12px;
          }
#sidebar h5 {color: darkorange;
            text-align: left;
            font-weight: normal;
            }
#sidebar h6 {color:white;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
}
#sidebar p {color: black;
            font-size: 70%;
            text-align: left;
            }
#sidebar p:not(.lj) {text-align: center;
                    }
.bb {border-color: #0075b3;
     border-style:solid;
     border-width: 1px;
     border-radius: 5px;
     background: linear-gradient(#21A1DF, #277BAD);
     color: white;
     padding: 5px 0px 5px 0px;
     margin: 1px 0px 3px 0px;
     width: auto;
     }
.ob {border-color: #0075b3;
     border-style:solid;
     border-width:0.5px;
     border-radius: 5px;
     background: linear-gradient(orange, #C84C16);
     color: white;
     padding: 5px 0px 5px 0px;
     margin: 1px 0px 3px 0px;
     width: auto;
     }
#main {display: inline-block;
       width: 720px;
       background-color: red;
       border-top-style: solid;
       border-top-width: medium;
       border-top-color: gray;
       vertical-align: top;
       }
